ipch
vc_mswud
vc_mswu
misc
src
t3
thc
automated_testing
wxWidgets-2.8.6
wxWidgets-3.1.0
xcuserdata
*.xcscheme
*.opensdf
*.suo
*.sdf
*.sln
*.o
*.obj
*.user
*.zip
*.7z
*.exe
*.bak
*.tdb
*.pgn_compiled

