ipch
vc_mswud
vc_mswu
misc
pieces
generated_bitmaps
automated_testing
debug_log_file.txt
wxWidgets-3.1.0/
wxWidgets/
xcuserdata
*.xcscheme
*.opensdf
*.suo
*.sdf
*.sln
*.o
*.obj
*.user
*.zip
*.7z
*.exe
*.bak
*.tdb
*.pgn_compiled
tarrasch
