* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.locateButtons {
   position:floating;
   scrollTop:100px;
   top:20px;
   left:40px;
   right:40px;
}

.rover {
   position:relative;
}


#top {
    /* font-family: 'Lucida Sans Unicode','Lucida Grande',Arial,sans-serif; */
    color: #fff;
    background-color: rgb(72,115,107);
    text-align: left;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    height:34px;
    font-size:24px;
    padding: 5px;
}

#menu {
     font-family: 'Lucida Sans Unicode','Lucida Grande',Arial,sans-serif;
     position: relative;
     width: auto;
     height:26px;
     font-size:14px;
     color: salmon;
     background-color: #646464;    /*content menu colour*/
     margin: 0px auto;
}
 
#menu ul {
     list-style-type: none;
}
 
#menu ul li {
     float: left;
     position: relative;
}
 
#menu ul li a {
     text-align: center;
     border-right:1px solid #e9e9e9;   /* menu bars */
     padding:5px;
     display:block;
     text-decoration:none;
     color: white;               /*content menu text colour*/
}
 
#menu ul li a:hover {
     background: #012E57;
     color:#fff;
}
 
#menu ul li ul {
     display: none
}
 
#menu ul li:hover ul {
     display: block;
     position: absolute;
}
 
#menu ul li:hover ul li a {
     display:block;
     background: #012E57; /* background of not selected pulldown */
     color: #fff;         /* text of not selected pulldown */
     width: 150px;
     text-align: left;
     border-bottom: 1px solid #f2f2f2; /* bottom line of all pulldowns */
     border-right: none;
}
 
#menu ul li:hover ul li a:hover {
     background: #00569F; /* background of selected pulldown */
     color: #fff;         /* text of selected pulldown */
}
.top { border-top: 1px solid #f2f2f2; }  /* top line of highest pull down */
.first { /*border-left: 1px solid #e9e9e9;*/ }  /* doesn't seem to affect anything */


div#content {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
pre,
code {
    font-family: Menlo, monospace;
    font-size: 12px;
}
pre {
    line-height: 18px;
}

h1,
h2,
h3,
h4,
.rootHeading {
    margin: 10px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
    color: #375EAB;
    font-weight: bold;
}
h1 {
    font-size: 18px;
    background: #E0EBF5;
}
h2 {
    font-size: 16px;
    background: #E0EBF5;
}
h3 {
    font-size: 14px;
}
h4 {
    font-size: 12px;
}

div#top p {
    margin: 5px 0px 0px 20px;
}

div#content p {
    font-size: 12px;
    margin: 10px 10px 0px 10px;
}

div#content li {
    font-size: 12px;
    margin: 0px 0px 0px 0px;
}

table { 
   border-collapse: collapse;
}

.main {color: black; font-style: normal; font-weight: bold; text-decoration: none}
.variation {color: black; font-style: normal; font-weight: normal; text-decoration: none}
.diagram_outer { float:left; }
.diagram { margin: 10px 8px 8px 10px; border:1px solid grey; }
.buttons { margin: 4px 8px 8px 12px;  }
.label { margin: 0px 0px 0px 40px; font-style: italic; }
.highlight { background:#F6FF00; }
.move_hover { background:#C9D394; }

table th { border: 1px solid silver;  padding: 2px; font-size: 12px; /* background: #D6BE0F; */ }
table td { border: 1px solid silver;  padding: 2px; font-size: 12px; /* background: #C9D394; */ }
